.general_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr) 40px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  align-items: center;
}

.day_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 25px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.hour_container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.letters{
  color: white;
  text-align: center;
  /*font-family: 'Roboto', sans-serif;*/
}
