<div class="general_container">

  <div class="letters">Day</div>
  <div class="day_container">
    <div class="letters">1</div>
    <div class="letters">2</div>
    <div class="letters">3</div>
    <div class="letters">4</div>
    <div class="letters">5</div>
    <div class="letters">6</div>
    <div class="letters">7</div>
  </div>
  <div>
    <app-diagnostic></app-diagnostic>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div class="hour_container">
    <div class="letters">6 am</div>
    <div class="letters">7 am</div>
    <div class="letters">8 am</div>
    <div class="letters">9 am</div>
    <div class="letters">10 am</div>
    <div class="letters">11 am</div>
    <div class="letters">12 pm</div>
    <div class="letters">1 pm</div>
    <div class="letters">2 pm</div>
    <div class="letters">3 pm</div>
    <div class="letters">4 pm</div>
    <div class="letters">5 pm</div>
    <div class="letters">6 pm</div>
    <div class="letters">7 pm</div>
    <div class="letters">8 pm</div>
    <div class="letters">9 pm</div>
    <div class="letters">10 pm</div>
    <div class="letters">11 pm</div>
    <div class="letters">12 am</div>
    <div class="letters">1 am</div>
    <div class="letters">2 am</div>
    <div class="letters">3 am</div>
    <div class="letters">4 am</div>
    <div class="letters">5 am</div>
  </div>
</div>
