.box_a { background: #F9B031}
.box_b { background: #EC4E1E}
.box_c { background: #2FA33C }
.box_d { background: 	#F8E83B }

.circle_comida{
  background: #C4A881;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 40px;
}

.circle_levodopa{
  background: #5DBCD2;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 40px;
}


.circle_otras{
  background: #C165A1;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 40px;
}

.circle_eventos{
  background: #0C3D73;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 40px;
}

.circle_rutinas{
  background: #DA718A;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 40px;
}
