<app-diagnostic-banner (filter)="showGridEvent($event)"></app-diagnostic-banner>

<div class="general-container" style="margin-right: 8%">
  <div style="margin: auto 0 auto auto; text-align: end"> Dias </div>
  <div style="text-align: end; margin-right: 15%">
    <div *ngFor="let index of days" style="margin-top: 35%">
      {{index}}
    </div>
  </div>
  <div style="width: 100%;">
    <div>
      <div *ngFor="let day of patientBehavior" class="container">
        <a *ngFor="let item of day"
           id="{{item.id}}"
           [ngStyle]="{'background-color': item.color}"
           (mouseover)="hoverUp(item)"
           (mouseleave)="initilizeColor(item)">
          <img src="assets/comida.png" width="38" style="margin: auto" *ngIf="activeComida">
        </a>
      </div>
    </div>
    <div>
      <div class="flex-container">
        <div *ngFor="let hour of hours" [ngStyle]="{'margin':'auto'}">{{hour}}</div>
      </div>
    </div>
  </div>

</div>



