<ejs-sidebar id="default-sidebar"
             #sidebar
             (created)="onCreated($event)"
             width="230px">
  <div class="title"> PDaily Cloud </div>
  <div>
    <img src="assets/medico2.png" width="100">
    <p>Dr Humberto Loaiza</p>
    <p>Valle del Lili</p>
  </div>
  <ejs-treeview
    id='menu' [fields]='field'>
  </ejs-treeview>
</ejs-sidebar>
<div>
  <div (click)="showSideBar()">
    <i class="fas fa-bars menu-btn ripple" ></i>
  </div>
  <div style="margin-top: 20px"></div>
  <div style="margin: auto;">
    <app-diagnostic-table></app-diagnostic-table>
  </div>
</div>
