<div class="container">

  <div class="patient">
    <div class="patient_container">
      <img src="../../assets/paciente.png" width="100" class="patient_contA">
      <div class="patient_infB">Nombre del paciente: </div>
      <div class="patient_infC">Documento de identidad: </div>
      <div class="patient_infD">Edad del paciente: </div>
      <div class="patient_infE">Sexo: </div>
    </div>
  </div>

  <div class="reports">
    <div class="reports_container">
      <img src="../../assets/comida.png" width="60" class="circle_comida" routerLink="">
      <img src="../../assets/levodopa.png" width="60" class="circle_levodopa">
      <img src="../../assets/otros.png" width="60" class="circle_otras">
      <img src="../../assets/eventos.png" width="60" class="circle_eventos">
      <img src="../../assets/rutina.png" width="60" class="circle_rutinas">

    </div>
  </div>
  <div class="doctor">
    <div class="doctor">
      <div class="doctor_container">
        <img src="../../assets/doctor.png" width="100" class="patient_contA">
        <div class="patient_infB">Nombre del Medico</div>
        <div class="patient_infC">Configurar Cuenta</div>
        <div class="patient_infD">Cambiar Cuenta</div>
        <div class="patient_infE">Cerrar sesion</div>
      </div>
    </div>
  </div>
  <div class="schedule">
    <app-diagnostic-grid></app-diagnostic-grid>
  </div>
  <div class="medicine">
    <div class="medicine_container">
      <img src="../../assets/levodopa.png" width="80" class="patient_contA">
      <div class="patient_infB">Nombre del Medicamento</div>
      <div class="patient_infC">Dosis del medicamento</div>
      <div class="patient_infD">Dia y hora de la toma</div>
      <div class="patient_infE">Intervalo de toma de medicamento</div>
    </div>
  </div>
  <div class="blank"></div>
  <div class="editables">
    Datos Editables:<br>
    Horas de comidas, medicamentos, rutinas, etc..
  </div>


</div>
