.container {
  display: grid;
  grid-template-columns: repeat(24, 45px);
  grid-template-rows: repeat(7, 25px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.a { background: #F9B031}
.b { background: #EC4E1E}
.c { background: #2FA33C }
.d { background: 	#F8E83B }
