.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.info-container{
  display: grid;
  grid-template-columns: auto auto;
}

.image{
  border: 3px solid black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 50px;
}

p{
  margin: auto;
}
